body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	font-size: 16px;
}

.main {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
}

canvas {
	width: 1200px;
	height: 600px;
	background-color: #e0e3dc;
}

#link {
	margin-top: 50px;
	font-size: 12px;
	font-style: italic;
}

.canvasContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.sidetab {
	display: flex;
	flex-direction: column;
	min-width: 100px;
	max-width: 500px;
	max-height: 600px;
	margin-left: 2em;
	flex-grow: 2;
	background-color: beige;
}

.log {
	margin: 1em;
	font-size: 0.75em;
	font-family: monospace;
	overflow: auto;

	span {
		margin-bottom: 0.25em;
	}
}
